# Assignment 3 - Acquiring Data

## Part 1 - Ask a question!

## _Notes_

## Find data set/s related to that question
There are a lot of open data sets out there that you can access. Some places that you can find data sets are listed below, but there are plenty of data sets out there.

1. Kaggle - Lots of interesting data sets  https://www.kaggle.com/datasets
1. UC Irvine Machine Learning Repo - A venerable source of data.  Some what dated now.  http://mlr.cs.umass.edu/ml/
1. US government.  The open data sets from the US government. https://catalog.data.gov/dataset (_Many organinizations/governments make data sets available. I have given three, but check around for others._) 
1. UK data sets https://www.ukdataservice.ac.uk
1. IMF data setshttps://www.imf.org/en/Data
1. Amazon AWS data sets - Data sets that can be aquired through AWS services https://registry.opendata.aws
1. Wikipedia list of data sets - https://en.wikipedia.org/wiki/List_of_datasets_for_machine_learning_research
1. 538 - Politics and sports opinions https://fivethirtyeight.com
1. Awesome data - a collection of data sets on github https://github.com/awesomedata/awesome-public-datasets

One final option is to scrape data from existing web sites and build your own data set.

## Part 2 - Acquire the data
You may want to create a work space and then download the data set into the workspace so you have a local copy to work with.  If you are working with a very large data set, you may choose to only download a part of the set.

# _Notes_


URL:

## Look at the forrest of the data
At this point we want to look at the overall picture of the data.  We are not yet trying to do a detailed analysis, but there are some basic questions we want to answer about our data set.

1. In each record of data what are the features?
2. What are the range of values (min, median/average, max)
3. Do I have values that are not numeric?
4. Do I have records that are missing features?

# Part 3 - Read the CSV into a DataFrame

Now that we have a CSV file to work with, lets use pandas to examine the data.

The first thing we will do is to pull all the data from the CSV file into a pandas dataframe and then look at the keys and the first five lines using the head() function.

In [5]:
import pandas as pd
data = pd.read_csv("HUMRA.csv")
data.head()

  LOCATION      Country     IND  ...         Value  Flag Codes  Flags
0      AFG  Afghanistan  TOTPOP  ...    27032197.0         NaN    NaN
1      AFG  Afghanistan  TOTPOP  ...    27708187.0         NaN    NaN
2      AFG  Afghanistan  TOTPOP  ...    28397812.0         NaN    NaN
3      AFG  Afghanistan  TOTPOP  ...    29105480.0         NaN    NaN
4      AFG  Afghanistan  TOTPOP  ...    29824536.0         NaN    NaN

[5 rows x 9 columns]

## _Notes_

## Part 4 - Quick Overview
Lets get a quick overview of the data using the info() function.

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153046 entries, 0 to 153045
Data columns (total 9 columns):
LOCATION      153046 non-null object
Country       153046 non-null object
IND           153046 non-null object
Indicator     153046 non-null object
TIME          153046 non-null int64
Time          153046 non-null int64
Value         153046 non-null float64
Flag Codes    0 non-null float64
Flags         0 non-null float64
dtypes: float64(3), int64(2), object(4)
memory usage: 10.5+ MB

## _Notes_

## Part 5 - Look at the object fields
We can pull out information about the Gender field using the value_counts() method

In [13]:
data["Country"].value_counts()

Moldova                      902
Pakistan                     895
Turkey                       888
Colombia                     884
Russia                       882
Poland                       881
Morocco                      876
Mexico                       875
Thailand                     873
Hungary                      871
Lithuania                    871
Chile                        871
Belgium                      871
United Kingdom               869
Norway                       869
Austria                      868
Slovenia                     867
Spain                        867
Mongolia                     866
Australia                    865
Latvia                       865
Croatia                      865
Israel                       865
Sweden                       865
Peru                         864
India                        864
Jordan                       863
Denmark                      863
Italy                        863
Indonesia                    863
                            ...
Antigua and Barbuda          469
Somalia                      458
St. Kitts and Nevis          449
Puerto Rico                  447
West Bank and Gaza           396
Palau                        373
San Marino                   373
Marshall Islands             363
Andorra                      353
Tuvalu                       352
Aruba                        351
Liechtenstein                343
French Polynesia             319
New Caledonia                319
Virgin Islands               309
Guam                         299
Taiwan Prov.of China         293
Monaco                       291
Bermuda                      286
Greenland                    254
Faeroe Islands               249
Cayman Islands               219
Turks and Caicos Islands     209
American Samoa               205
Northern Mariana Islands     204
South Sudan                  177
Curaçao                      161
St. Martin (French part)     145
Sint Maarten (Dutch part)    141
Serbia and Montenegro          8
Name: Country, Length: 214, dtype: int64

## _Notes_

## Part 6 - Look at the numerical fields
We can look at numerical fields using the describe() function. We get some basic information.

In [12]:
data.describe()

                TIME           Time         Value  Flag Codes  Flags
count  153046.000000  153046.000000  1.530460e+05         0.0    0.0
mean     2009.706435    2009.706435  3.737127e+09         NaN    NaN
std         1.303607       1.303607  1.381191e+11         NaN    NaN
min      2008.000000    2008.000000 -2.999998e+06         NaN    NaN
25%      2009.000000    2009.000000  2.000000e+00         NaN    NaN
50%      2010.000000    2010.000000  3.000000e+00         NaN    NaN
75%      2011.000000    2011.000000  8.000000e+00         NaN    NaN
max      2012.000000    2012.000000  1.568480e+13         NaN    NaN

## _Notes_

## Part 7 - Get Distributions
To really understand what is going on in the data, we will need to see a distribution. One of the common ways of doing this is to use a histogram.

## _Notes_

## Part 8 Visualize the data
Lets make a copy of the data set and do some simple graphs.

In [1]:
data.hist()

NameError: name 'data' is not defined

## _Notes_

## Part 9 - Do Correlation

Check the numerical parameters and see if any are strongly correlated.  This can give an idea of dimensions that are predictive of each other.

## _Notes_

## Part 10 - A better scatter plot
Look to see if there are interesting relations to the non-numeric data.  Try some filtering.

## _Notes_

# Bonus
Do an acquisition and preliminary analysis on a second data set.  Compare the data sets.