# Assignment 4 - Working on features

## Part 1 - Read your data frame.

In [3]:
import pandas as pd
data = pd.read_csv("adult.csv")
data.head()

,age,workclass,education,educationNum,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,90,?,HS-grad,9,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,HS-grad,9,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,Some-college,10,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,7th-8th,4,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,Some-college,10,Own-child,White,Female,0,3900,40,United-States,<=50K

## Part 2 - Create a new feature.
Pick at least two features from your data set and create a new feature based on them.  In the notes describe why you chose the features and how you are combining them.

### _Notes_
create a new feature with 4 possible values. will make it a work score 

1        full time college attendee

2        full time no college attendee

3        part time college attendee

4        part time no college attendee

In [4]:
def workScore (hoursPerWeek, educationNum):
    if (hours.per.week >= 40):
        if (educationNum >= 10):
            return 4
        return 3
    else:
        if (educationNum >= 10):
            return 2
        return 1

## Part 3 - Split the data frame

Use the train_test_split() function to split the data set into two equal pieces.

In [ ]:
# Your code here

## Part 4 - Pick a feature to create categories for
1. Why did you pick the feature?
2. Describe how you will create the groups.
3. What is your reason for the groupings?
4. Are any of your categories small in size?

### _Notes_
(Your notes here!)

## Part 5 - Create the category groups

In [ ]:
# Your code here

## Part 6 - Do a stratified split
Use the category group feature you created to perform a stratified split on the data.

In [ ]:
# Your code here

## Part 7 - Look at the training and test sets
Use info() and value_counts() on the training and test sets to verify that the split was successfl.

In [ ]:
# Your code here

# Bonus

1. Experiment with the n_splits for the StratifiedShuffleSplit.  Describe what you observe.
2. Experiment with the random_state for the StratifiedShuffleSplit. Describe what you observe.