# Assignment 4 - Working on features

## Part 1 - Read your data frame.

In [2]:
import pandas as pd
data = pd.read_csv("adult.csv")
data.head()

,age,workclass,education,educationNum,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,90,?,HS-grad,9,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,HS-grad,9,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,Some-college,10,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,7th-8th,4,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,Some-college,10,Own-child,White,Female,0,3900,40,United-States,<=50K

## Part 2 - Create a new feature.
Pick at least two features from your data set and create a new feature based on them.  In the notes describe why you chose the features and how you are combining them.

### _Notes_
i use the educationNum and hoursPerWeek
i chose these features because i feel they are very good determinants on how hard of worker you are and i would like to make useful predictions with it.
i add the 2 together to get the workscore.

In [4]:
def workScore (hoursPerWeek, educationNum):
    if (hours.per.week >= 40):
        if (educationNum >= 10):
            return 4
        return 3
    else:
        if (educationNum >= 10):
            return 2
        return 1
#columns = ["hoursPerWeek","educationNum"]
#value = data[columns].map(workScore)
# i think the issue is that im trying to do this with columns being 2 different features in the dataset
data["workScore"] = (data["hoursPerWeek"]/max(data["hoursPerWeek"])+data["educationNum"]/max(data["educationNum"]))/2
#divide each by max then add then divide by 2
print(data["workScore"])

0        0.483270
1        0.372159
2        0.514520
3        0.327020
4        0.514520
5        0.508523
6        0.389520
7        0.601010
8        0.483270
9        0.615530
10       0.676768
11       0.696023
12       0.507260
13       0.715278
14       0.702020
15       0.670770
16       0.602588
17       0.690025
18       0.577020
19       0.658775
20       0.608270
21       0.430871
22       0.407513
23       0.514520
24       0.442866
25       0.545770
26       0.224116
27       0.295770
28       0.440025
29       0.642045
           ...
32531    0.483270
32532    0.458018
32533    0.684028
32534    0.906250
32535    0.803030
32536    0.658775
32537    0.509470
32538    0.426768
32539    0.684028
32540    0.513573
32541    0.550505
32542    0.483270
32543    0.442866
32544    0.407513
32545    0.617424
32546    0.589015
32547    0.476010
32548    0.577020
32549    0.483270
32550    0.514520
32551    0.565025
32552    0.389520
32553    0.571023
32554    0.493056
32555    0.639520
32556    0.514520
32557    0.566919
32558    0.483270
32559    0.483270
32560    0.382260
Name: workScore, Length: 32561, dtype: float64

## Part 3 - Split the data frame

Use the train_test_split() function to split the data set into two equal pieces.

In [4]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.5,
random_state=123)

print(len(train_set))
print(len(test_set))
print(len(train_set)/(len(test_set)+len(train_set)))

26048
6513
0.7999754307300144

## Part 4 - Pick a feature to create categories for

i pick the nativeCountry feature to create categories for.

1. Why did you pick the feature?

this dataset has features that have already been made from other features such as the educationNum. I picked nativeCountry because splitting it into categories could show data for a given region rather than a given country.

2. Describe how you will create the groups.

im going to make 2 groups. those from north america(united states,mexico,and cannada), and those not from north america.

3. What is your reason for the groupings?

same reason as question 1. i want to see data based on region rather than on country

4. Are any of your categories small in size?

they are not. both are fairly large

### _Notes_
(Your notes here!)

In [11]:
data.drop("nativeCountry", axis = 1)

,age,workclass,education,educationNum,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,income,workScore
0,90,?,HS-grad,9,Not-in-family,White,Female,0,4356,40,<=50K,0.483270
1,82,Private,HS-grad,9,Not-in-family,White,Female,0,4356,18,<=50K,0.372159
2,66,?,Some-college,10,Unmarried,Black,Female,0,4356,40,<=50K,0.514520
3,54,Private,7th-8th,4,Unmarried,White,Female,0,3900,40,<=50K,0.327020
4,41,Private,Some-college,10,Own-child,White,Female,0,3900,40,<=50K,0.514520
5,34,Private,HS-grad,9,Unmarried,White,Female,0,3770,45,<=50K,0.508523
6,38,Private,10th,6,Unmarried,White,Male,0,3770,40,<=50K,0.389520
7,74,State-gov,Doctorate,16,Other-relative,White,Female,0,3683,20,>50K,0.601010
8,68,Federal-gov,HS-grad,9,Not-in-family,White,Female,0,3683,40,<=50K,0.483270
9,41,Private,Some-college,10,Unmarried,White,Male,0,3004,60,>50K,0.615530
10,45,Private,Doctorate,16,Unmarried,Black,Female,0,3004,35,>50K,0.676768
11,38,Self-emp-not-inc,Prof-school,15,Not-in-family,White,Male,0,2824,45,>50K,0.696023
12,52,Private,Bachelors,13,Not-in-family,White,Female,0,2824,20,>50K,0.507260
13,32,Private,Masters,14,Not-in-family,White,Male,0,2824,55,>50K,0.715278
14,51,?,Doctorate,16,Not-in-family,White,Male,0,2824,40,>50K,0.702020
15,46,Private,Prof-school,15,Not-in-family,White,Male,0,2824,40,>50K,0.670770
16,45,Private,11th,7,Not-in-family,White,Male,0,2824,76,>50K,0.602588
17,57,Private,Masters,14,Not-in-family,White,Male,0,2824,50,>50K,0.690025
18,22,Private,Assoc-acdm,12,Not-in-family,Black,Male,0,2824,40,>50K,0.577020
19,34,Private,Bachelors,13,Not-in-family,White,Male,0,2824,50,>50K,0.658775
20,37,Private,Bachelors,13,Not-in-family,White,Male,0,2824,40,>50K,0.608270
21,29,Private,11th,7,Not-in-family,White,Female,0,2754,42,<=50K,0.430871
22,61,Private,HS-grad,9,Unmarried,White,Female,0,2754,25,<=50K,0.407513
23,51,Private,Some-college,10,Husband,White,Male,0,2603,40,<=50K,0.514520
24,61,?,HS-grad,9,Husband,White,Male,0,2603,32,<=50K,0.442866
25,21,Private,Assoc-voc,11,Husband,White,Male,0,2603,40,<=50K,0.545770
26,33,Private,1st-4th,2,Not-in-family,White,Male,0,2603,32,<=50K,0.224116
27,49,Private,5th-6th,3,Husband,White,Male,0,2603,40,<=50K,0.295770
28,37,Self-emp-inc,10th,6,Not-in-family,White,Male,0,2559,50,>50K,0.440025
29,38,Private,10th,6,Not-in-family,White,Male,0,2559,90,>50K,0.642045
...,...,...,...,...,...,...,...,...,...,...,...,...
32531,31,Private,HS-grad,9,Wife,White,Female,0,0,40,<=50K,0.483270
32532,29,Private,HS-grad,9,Unmarried,White,Female,0,0,35,<=50K,0.458018
32533,35,?,Bachelors,13,Wife,White,Female,0,0,55,>50K,0.684028
32534,30,?,Bachelors,13,Not-in-family,Asian-Pac-Islander,Female,0,0,99,<=50K,0.906250
32535,34,Private,Doctorate,16,Husband,White,Male,0,0,60,>50K,0.803030
32536,54,Private,Bachelors,13,Husband,Asian-Pac-Islander,Male,0,0,50,>50K,0.658775
32537,37,Private,Some-college,10,Unmarried,White,Female,0,0,39,<=50K,0.509470
32538,22,Private,12th,8,Own-child,Black,Male,0,0,35,<=50K,0.426768
32539,34,Private,Bachelors,13,Not-in-family,White,Female,0,0,55,>50K,0.684028
32540,30,Private,HS-grad,9,Not-in-family,Black,Male,0,0,46,<=50K,0.513573
32541,71,?,Doctorate,16,Husband,White,Male,0,0,10,>50K,0.550505
32542,45,State-gov,HS-grad,9,Own-child,White,Female,0,0,40,<=50K,0.483270
32543,41,?,HS-grad,9,Not-in-family,Black,Female,0,0,32,<=50K,0.442866
32544,72,?,HS-grad,9,Husband,White,Male,0,0,25,<=50K,0.407513
32545,45,Local-gov,Assoc-acdm,12,Unmarried,White,Female,0,0,48,<=50K,0.617424
32546,31,Private,Masters,14,Not-in-family,Other,Female,0,0,30,<=50K,0.589015
32547,39,Local-gov,Assoc-acdm,12,Wife,White,Female,0,0,20,>50K,0.476010
32548,37,Private,Assoc-acdm,12,Not-in-family,White,Female,0,0,40,<=50K,0.577020
32549,43,Private,HS-grad,9,Husband,White,Male,0,0,40,<=50K,0.483270
32550,43,State-gov,Some-college,10,Other-relative,White,Female,0,0,40,<=50K,0.514520
32551,43,Self-emp-not-inc,Some-college,10,Husband,White,Male,0,0,50,<=50K,0.565025
32552,32,Private,10th,6,Husband,Amer-Indian-Eskimo,Male,0,0,40,<=50K,0.389520
32553,43,Private,Assoc-voc,11,Husband,White,Male,0,0,45,<=50K,0.571023
32554,32,Private,Masters,14,Not-in-family,Asian-Pac-Islander,Male,0,0,11,<=50K,0.493056
32555,53,Private,Masters,14,Husband,White,Male,0,0,40,>50K,0.639520
32556,22,Private,Some-college,10,Not-in-family,White,Male,0,0,40,<=50K,0.514520
32557,27,Private,Assoc-acdm,12,Wife,White,Female,0,0,38,<=50K,0.566919
32558,40,Private,HS-grad,9,Husband,White,Male,0,0,40,>50K,0.483270
32559,58,Private,HS-grad,9,Unmarried,White,Female,0,0,40,<=50K,0.483270
32560,22,Private,HS-grad,9,Own-child,White,Male,0,0,20,<=50K,0.382260

## Part 5 - Create the category groups

In [6]:
def northAmericanOrNah (nativeCountry):
    if (nativeCountry == "United-States"):
        return 1
    if (nativeCountry == "Mexico"):
        return 1
    if (nativeCountry == "Cannada"):
        return 1
    else:
        return 0
value = data["nativeCountry"].map(northAmericanOrNah)
data["northAmerican"] = value
data.head()

,age,workclass,education,educationNum,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income,workScore,northAmerican
0,90,?,HS-grad,9,Not-in-family,White,Female,0,4356,40,United-States,<=50K,49,1
1,82,Private,HS-grad,9,Not-in-family,White,Female,0,4356,18,United-States,<=50K,27,1
2,66,?,Some-college,10,Unmarried,Black,Female,0,4356,40,United-States,<=50K,50,1
3,54,Private,7th-8th,4,Unmarried,White,Female,0,3900,40,United-States,<=50K,44,1
4,41,Private,Some-college,10,Own-child,White,Female,0,3900,40,United-States,<=50K,50,1

## Part 6 - Do a stratified split
Use the category group feature you created to perform a stratified split on the data.

In [7]:
from sklearn.model_selection import StratifiedShuffleSplit
splitter = StratifiedShuffleSplit(n_splits = 1, test_size=0.2, random_state=123)
for train_indices, test_indices in splitter.split(data, data["northAmerican"]):
 #the body only executes once because the number of splits (folds) is one
 train_set = data.iloc[train_indices]
 test_set = data.iloc[test_indices]

## Part 7 - Look at the training and test sets
Use info() and value_counts() on the training and test sets to verify that the split was successfl.

In [8]:
print(data["northAmerican"].value_counts())
print(test_set["northAmerican"].value_counts())
print(train_set["northAmerican"].value_counts())

1    29813
0     2748
Name: northAmerican, dtype: int64
1    5963
0     550
Name: northAmerican, dtype: int64
1    23850
0     2198
Name: northAmerican, dtype: int64

looks like the stratified split worked. all have maintained the same ratio

# Bonus

1. Experiment with the n_splits for the StratifiedShuffleSplit.  Describe what you observe.
2. Experiment with the random_state for the StratifiedShuffleSplit. Describe what you observe.

In [13]:
from sklearn.model_selection import StratifiedShuffleSplit
splitter = StratifiedShuffleSplit(n_splits = 33, test_size=0.2, random_state=434232)
for train_indices, test_indices in splitter.split(data, data["northAmerican"]):
 #the body only executes once because the number of splits (folds) is one
 train_set = data.iloc[train_indices]
 test_set = data.iloc[test_indices]

In [14]:
print(data["northAmerican"].value_counts())
print(test_set["northAmerican"].value_counts())
print(train_set["northAmerican"].value_counts())

1    29813
0     2748
Name: northAmerican, dtype: int64
1    5963
0     550
Name: northAmerican, dtype: int64
1    23850
0     2198
Name: northAmerican, dtype: int64

i tested the same thing but with a different number for n_splits as well as random_state. The value counts were the same.