# Assignment 4 - Working on features

## Part 1 - Read your data frame.

In [2]:
import pandas as pd
data = pd.read_csv("adult.csv")
data.head()

,age,workclass,education,educationNum,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,90,?,HS-grad,9,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,HS-grad,9,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,Some-college,10,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,7th-8th,4,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,Some-college,10,Own-child,White,Female,0,3900,40,United-States,<=50K

## Part 2 - Create a new feature.
Pick at least two features from your data set and create a new feature based on them.  In the notes describe why you chose the features and how you are combining them.

### _Notes_
i use the educationNum and hoursPerWeek
i chose these features because i feel they are very good determinants on how hard of worker you are and i would like to make useful predictions with it.

create a new feature with 4 possible values. will make it a work score 

1        full time college attendee

2        full time no college attendee

3        part time college attendee

4        part time no college attendee

In [3]:
def workScore (hoursPerWeek, educationNum):
    if (hours.per.week >= 40):
        if (educationNum >= 10):
            return 4
        return 3
    else:
        if (educationNum >= 10):
            return 2
        return 1
#columns = ["hoursPerWeek","educationNum"]
#value = data[columns].map(workScore)
# i think the issue is that im trying to do this with columns being 2 different features in the dataset
data["workScore"] = data["hoursPerWeek"]+data["educationNum"]
#divide each by max then add then divide by 2
print(data["workScore"])

0         49
1         27
2         50
3         44
4         50
5         54
6         46
7         36
8         49
9         70
10        51
11        60
12        33
13        69
14        56
15        55
16        83
17        64
18        52
19        63
20        53
21        49
22        34
23        50
24        41
25        51
26        34
27        43
28        56
29        96
        ...
32531     49
32532     44
32533     68
32534    112
32535     76
32536     63
32537     49
32538     43
32539     68
32540     55
32541     26
32542     49
32543     41
32544     34
32545     60
32546     44
32547     32
32548     52
32549     49
32550     50
32551     60
32552     46
32553     56
32554     25
32555     54
32556     50
32557     50
32558     49
32559     49
32560     29
Name: workScore, Length: 32561, dtype: int64

## Part 3 - Split the data frame

Use the train_test_split() function to split the data set into two equal pieces.

In [4]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.2,
random_state=123)

print(len(train_set))
print(len(test_set))
print(len(train_set)/(len(test_set)+len(train_set)))

26048
6513
0.7999754307300144

## Part 4 - Pick a feature to create categories for

i pick the nativeCountry feature to create categories for.

1. Why did you pick the feature?

this dataset has features that have already been made from other features such as the educationNum. I picked nativeCountry because splitting it into categories could show data for a given region rather than a given country.

2. Describe how you will create the groups.

im going to make 2 groups. those from north america(united states,mexico,and cannada), and those not from north america.

3. What is your reason for the groupings?

same reason as question 1. i want to see data based on region rather than on country

4. Are any of your categories small in size?

they are not. both are fairly large

### _Notes_
(Your notes here!)

In [5]:
data["nativeCountry"].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: nativeCountry, dtype: int64

## Part 5 - Create the category groups

In [6]:
def northAmericanOrNah (nativeCountry):
    if (nativeCountry == "United-States"):
        return 1
    if (nativeCountry == "Mexico"):
        return 1
    if (nativeCountry == "Cannada"):
        return 1
    else:
        return 0
value = data["nativeCountry"].map(northAmericanOrNah)
data["northAmerican"] = value
data.head()

,age,workclass,education,educationNum,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income,workScore,northAmerican
0,90,?,HS-grad,9,Not-in-family,White,Female,0,4356,40,United-States,<=50K,49,1
1,82,Private,HS-grad,9,Not-in-family,White,Female,0,4356,18,United-States,<=50K,27,1
2,66,?,Some-college,10,Unmarried,Black,Female,0,4356,40,United-States,<=50K,50,1
3,54,Private,7th-8th,4,Unmarried,White,Female,0,3900,40,United-States,<=50K,44,1
4,41,Private,Some-college,10,Own-child,White,Female,0,3900,40,United-States,<=50K,50,1

## Part 6 - Do a stratified split
Use the category group feature you created to perform a stratified split on the data.

In [7]:
from sklearn.model_selection import StratifiedShuffleSplit
splitter = StratifiedShuffleSplit(n_splits = 1, test_size=0.2, random_state=123)
for train_indices, test_indices in splitter.split(data, data["northAmerican"]):
 #the body only executes once because the number of splits (folds) is one
 train_set = data.iloc[train_indices]
 test_set = data.iloc[test_indices]

## Part 7 - Look at the training and test sets
Use info() and value_counts() on the training and test sets to verify that the split was successfl.

In [8]:
print(data["northAmerican"].value_counts())
print(test_set["northAmerican"].value_counts())
print(train_set["northAmerican"].value_counts())

1    29813
0     2748
Name: northAmerican, dtype: int64
1    5963
0     550
Name: northAmerican, dtype: int64
1    23850
0     2198
Name: northAmerican, dtype: int64

looks like the stratified split worked. all have maintained the same ratio

# Bonus

1. Experiment with the n_splits for the StratifiedShuffleSplit.  Describe what you observe.
2. Experiment with the random_state for the StratifiedShuffleSplit. Describe what you observe.

In [13]:
from sklearn.model_selection import StratifiedShuffleSplit
splitter = StratifiedShuffleSplit(n_splits = 33, test_size=0.2, random_state=434232)
for train_indices, test_indices in splitter.split(data, data["northAmerican"]):
 #the body only executes once because the number of splits (folds) is one
 train_set = data.iloc[train_indices]
 test_set = data.iloc[test_indices]

In [14]:
print(data["northAmerican"].value_counts())
print(test_set["northAmerican"].value_counts())
print(train_set["northAmerican"].value_counts())

1    29813
0     2748
Name: northAmerican, dtype: int64
1    5963
0     550
Name: northAmerican, dtype: int64
1    23850
0     2198
Name: northAmerican, dtype: int64

i tested the same thing but with a different number for n_splits as well as random_state. The value counts were the same.