# Assignment 3 - Acquiring Data

## Part 1 - Ask a question!

## _Notes_

## Find data set/s related to that question
There are a lot of open data sets out there that you can access. Some places that you can find data sets are listed below, but there are plenty of data sets out there.

1. Kaggle - Lots of interesting data sets  https://www.kaggle.com/datasets
1. UC Irvine Machine Learning Repo - A venerable source of data.  Some what dated now.  http://mlr.cs.umass.edu/ml/
1. US government.  The open data sets from the US government. https://catalog.data.gov/dataset (_Many organinizations/governments make data sets available. I have given three, but check around for others._) 
1. UK data sets https://www.ukdataservice.ac.uk
1. IMF data setshttps://www.imf.org/en/Data
1. Amazon AWS data sets - Data sets that can be aquired through AWS services https://registry.opendata.aws
1. Wikipedia list of data sets - https://en.wikipedia.org/wiki/List_of_datasets_for_machine_learning_research
1. 538 - Politics and sports opinions https://fivethirtyeight.com
1. Awesome data - a collection of data sets on github https://github.com/awesomedata/awesome-public-datasets

One final option is to scrape data from existing web sites and build your own data set.

## Part 2 - Acquire the data
You may want to create a work space and then download the data set into the workspace so you have a local copy to work with.  If you are working with a very large data set, you may choose to only download a part of the set.

# _Notes_


URL:

## Look at the forrest of the data
At this point we want to look at the overall picture of the data.  We are not yet trying to do a detailed analysis, but there are some basic questions we want to answer about our data set.

1. In each record of data what are the features?
2. What are the range of values (min, median/average, max)
3. Do I have values that are not numeric?
4. Do I have records that are missing features?

# Part 3 - Read the CSV into a DataFrame

Now that we have a CSV file to work with, lets use pandas to examine the data.

The first thing we will do is to pull all the data from the CSV file into a pandas dataframe and then look at the keys and the first five lines using the head() function.

In [2]:
import pandas as pd
data = pd.read_csv("AAPL.csv")
data.head()

,date,open,high,low,close,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2014-01-30,65.8882,66.4074,65.1226,65.5266,169762789,24251827,-0.126916,-0.193,71.9614,"Jan 30, 14",0.000000
1,2014-01-31,64.9233,65.7558,64.7096,65.6339,116336444,16619492,0.107251,0.164,71.6528,"Jan 31, 14",0.001638
2,2014-02-03,65.8974,66.5687,65.4634,65.7558,100620772,14374396,0.121932,0.186,65.9462,"Feb 3, 14",0.003498
3,2014-02-04,66.3222,66.7955,65.9171,66.7077,94273543,13467649,0.951860,1.448,67.9120,"Feb 4, 14",0.018025
4,2014-02-05,66.4153,67.5586,66.3749,67.2059,82322156,11760308,0.498221,0.747,67.1585,"Feb 5, 14",0.025628

## _Notes_

## Part 4 - Quick Overview
Lets get a quick overview of the data using the info() function.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 12 columns):
date                1258 non-null object
open                1258 non-null float64
high                1258 non-null float64
low                 1258 non-null float64
close               1258 non-null float64
volume              1258 non-null int64
unadjustedVolume    1258 non-null int64
change              1258 non-null float64
changePercent       1258 non-null float64
vwap                1258 non-null float64
label               1258 non-null object
changeOverTime      1258 non-null float64
dtypes: float64(8), int64(2), object(2)
memory usage: 118.0+ KB

## _Notes_

## Part 5 - Look at the object fields
We can pull out information about the Gender field using the value_counts() method

In [8]:
data['open'].value_counts()

118.9103    2
155.0072    2
118.3579    2
117.8336    2
91.5512     2
110.5156    2
174.6775    2
190.4452    2
90.8038     2
110.2706    2
153.5794    2
111.5829    2
109.5962    2
112.3749    2
103.8916    2
116.3538    2
167.6431    2
95.0062     2
88.1126     2
150.5873    2
104.6961    2
185.0530    2
112.2815    2
157.5000    2
186.6915    2
89.2302     2
109.3927    1
110.3092    1
104.4351    1
113.0626    1
           ..
93.5002     1
101.3097    1
119.9403    1
173.5741    1
103.5951    1
90.2034     1
227.1674    1
101.8702    1
142.9177    1
92.0511     1
154.2000    1
140.1423    1
69.7449     1
217.3018    1
182.8187    1
118.0302    1
110.5490    1
117.5548    1
106.1764    1
140.5124    1
170.7958    1
108.4860    1
126.5736    1
178.3700    1
171.5938    1
103.2412    1
117.8804    1
118.6549    1
90.1897     1
120.5489    1
Name: open, Length: 1232, dtype: int64

## _Notes_

## Part 6 - Look at the numerical fields
We can look at numerical fields using the describe() function. We get some basic information.

## _Notes_

## Part 7 - Get Distributions
To really understand what is going on in the data, we will need to see a distribution. One of the common ways of doing this is to use a histogram.

## _Notes_

## Part 8 Visualize the data
Lets make a copy of the data set and do some simple graphs.

## _Notes_

## Part 9 - Do Correlation

Check the numerical parameters and see if any are strongly correlated.  This can give an idea of dimensions that are predictive of each other.

## _Notes_

## Part 10 - A better scatter plot
Look to see if there are interesting relations to the non-numeric data.  Try some filtering.

## _Notes_

# Bonus
Do an acquisition and preliminary analysis on a second data set.  Compare the data sets.